<div id='container'>
  <%= form_for @book, :html => {:multipart => true }, url: books_path do |f| %> 
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <p>
      <%= f.text_field :title, :placeholder => "Title" %>
    </p>
 
    <p>
      <%= f.text_field :rating, :placeholder => "Rating" %>
    </p>

    <p>
      <%= f.label "read" %>
      <%= f.check_box :read %>
    </p>
    
    <p>
      <%= f.label "cover" %>
      <%= f.file_field :img_data %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>